@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

.timer-row {
  height: 124px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(33, 33, 52, 0.1);
  margin-bottom: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.timer-row:hover {
  box-shadow: 0px 0px 10px 3px rgba(157, 157, 180, 0.15);
}

.timer-row-coverer {
  height: 100%;
  background-color: white;
  float: right;
}

.round-button {
  background-color: var(--primary600);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: white
}

.timer-row-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 28px;
  margin-left: 40px;
  font-family: 'Overpass Mono', monospace;
}

.timer-row-text-focus {
  margin-left: 38px;
}

.timer-row-primary-focus {
  border: 2px solid var(--primary600);
}

.timer-row-secondary-focus {
  border: 2px solid var(--secondary600);
}

.timer-row-primary {
  background: linear-gradient(91.34deg, var(--primary200) 14.58%, var(--primary100) 84.19%);
}

.timer-row-secondary {
  background: linear-gradient(91.34deg, var(--secondary200) 14.58%, var(--secondary100) 84.19%);
}