.select {
  padding: 8px;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.select:hover {
  background-color: rgba(240, 240, 255, 1);
}

.select-svg {
  width: 20px;
  height: 20px;
}

.select-label {
  margin-left: 8px;
  font-size: 14px;
}