.side-bar {
  background-color: var(--neutral0);
  width: 285px;
  height: 100vh;

  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .side-bar {
    width: 225px;
  }
}

.side-bar-label {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: var(--neutral600);
  margin-bottom: 8px;
  margin-top: 24px;
}

.side-bar-top {
  padding: 12px 20px;
  border-bottom: 1px solid var(--neutral150);
}

.side-bar-content {
  padding: 0 12px;
}